# example.env -> .env 로 복사 후 값 채우기
BROKER=kiwoom             # mock | kiwoom | kis
REGION=KR

# (kis 쓸 때) 모의투자 APPKEY/시크릿
KIS_APPKEY=Z7ZqCqvfJzHR4_l9ssyZdVUn73AtngU4ub1r9W3N1r4
KIS_APPSECRET=lKTXsF8zC-pEhFK8-il0gtxlu4z1bqeeOOb3p1ukhOU
KIS_VRS_ACCOUNT=81135710        # 모의 계좌번호 (하이픈 없이)

# (kiwoom 쓸 때) 필요 시 인증서/계정정보 별도 처리(추후)
