# BACKEND CONFIG
BROKER=PAPER     # PAPER | KIS

# KIS (옵션)
KIS_APPKEY=YOUR_APPKEY
KIS_APPSECRET=YOUR_APPSECRET
KIS_ACCOUNT=12345678-01
KIS_ISPAPER=true
KIS_BASEURL=https://openapi.koreainvestment.com:9443
